<table class="table mb0 table-files">
    <thead>
        <tr>
            <th>
                <a href="" ng-click="order('model.name')">
					Code List Name
                    <span class="sortorder" ng-show="predicate[1] === 'model.name'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
            <th>
                <a href="" ng-click="order('model.cdiscsubmissionValue')">
					Submission Value
                    <span class="sortorder" ng-show="predicate[1] === 'model.cdiscsubmissionValue'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
            <th>
                <a href="" ng-click="order('model.extCodeId')">
                    Code Id
                    <span class="sortorder" ng-show="predicate[1] === 'model.extCodeId'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
            <th>
                <a href="" ng-click="order('model.codeListExtensible')">
	               Extensible
                    <span class="sortorder" ng-show="predicate[1] === 'model.codeListExtensible'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
            <th>
                <a href="" ng-click="order('model.customized')">
	               Customized
                    <span class="sortorder" ng-show="predicate[1] === 'model.customized'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
            <th class="text-right"></th>
        </tr>
    </thead>
    <tbody class="file-item">
        <tr ng-show="requesting">
            <td colspan="5">
                <div ng-include="config.tplPath + '/spinner.html'"></div>
            </td>
        </tr>
        <tr ng-repeat="item in itemList | filter: {model:{name: query}} | orderBy:model.customized:reverse" ng-show="!requesting">
            <td ng-right-click="touch(item)">
                <a href="" ng-click="click(item)" title="{{item.model.name}}" ng-mouseover="item.hoverIn()" ng-mouseleave="item.hoverOut()">
                    {{item.model.name | strLimit : 32}}
                </a>
                <br/>
	            <div ng-show="item.hover">{{item.model.name}}
	            </div>
            </td>
            <td >
                {{item.model.cdiscsubmissionValue}}
            </td>
            <td>
   				{{item.model.extCodeId}}
            </td>
            <td>
   				{{item.model.codeListExtensible}}
            </td>
            <td>
   				{{item.model.customized?'Yes':'No'}}
            </td>
        </tr>
    </tbody>
</table>