<table class="table mb0 table-files">
    <thead>
        <tr>
            <th>
                <a href="" ng-click="order('model.sdtmVariable.name')">
					Name
                </a>
            </th>
            <th>
                <a href="" ng-click="order('model.sdtmVariable.label')">
					Label
                </a>
            </th>
            <th>
                <a href="" ng-click="order('model.sdtmVariable.sasDataTypel')">
					Data Type
                </a>
            </th>
            <th>
                <a href="" ng-click="order('model.role')">
					Role
                </a>
            </th>
            <th>
                <a href="" ng-click="order('model.core')">
					Core
                </a>
            </th>
            <th class="text-right"></th>
        </tr>
    </thead>
    <tbody class="file-item">
        <tr ng-show="requesting">
            <td colspan="5">
                <div ng-include="config.tplPath + '/spinner.html'"></div>
            </td>
        </tr>
        <tr ng-repeat="item in varList" ng-show="!requesting">
            <td>
	            <div>{{item.model.sdtmVariable.name}}
	            </div>
            </td>
             <td>
	           {{item.model.sdtmVariable.label}}
            </td>
            <td>
	           {{item.model.sdtmVariable.sasDataType}}
            </td>
            <td>
	           {{item.model.role}}
            </td>
            <td>
	           {{item.model.core}}
            </td>
        </tr>
    </tbody>
</table>