<div class="modal animated fadeIn" id="uploadfile">
	<div class="modal-dialog">
		<div class="modal-content">
			<form ng-submit="uploadFiles()">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">close</span>
					</button>
					<h4 class="modal-title">Upload File</h4>
				</div>
				<div class="modal-body">
					<input type="file" class="form-control"
						ng-file="$parent.uploadFileList" autofocus="autofocus"/>
					<div ng-include data-src="'error-bar'" class="clearfix"></div>
				</div>
				<div class="modal-footer">
					<div ng-show="!fileUploader.requesting">
						<button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
						<button type="submit" class="btn btn-primary"
							ng-disabled="!uploadFileList.length || fileUploader.requesting">upload</button>
					</div>
					<div ng-show="fileUploader.requesting">
						<span class="label label-warning">uploading ...</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal animated fadeIn" id="newCustCodeList">
	<div class="modal-dialog">
		<div class="modal-content">
			<form ng-submit="createCustCodeList()">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">close</span>
					</button>
					<h4 class="modal-title">Create a new Code List for CT</h4>
				</div>
				<div class="modal-body">
					{{tempCT.tempModel.name}}<br/>
					Name: <input type="text" ng-model="tempCustCodeList.tempModel.name" autofocus="autofocus" ng-required="true"/><br/>
					Description: <input type="text" ng-model="tempCustCodeList.tempModel.description"/><br/>
					Submission Value: <input type="text" ng-model="tempCustCodeList.tempModel.cdiscsubmissionValue"/>
					<div ng-include data-src="'error-bar'" class="clearfix"></div>
				</div>
				<div class="modal-footer">
					<div ng-show="!modalRequesting">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Confirm</button>
					</div>
					<div ng-show="modalRequesting">
						<span class="label label-warning">Requesting ...</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal animated fadeIn" id="editCustCodeList">
	<div class="modal-dialog">
		<div class="modal-content">
			<form ng-submit="updateCustCodeList()">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">close</span>
					</button>
					<h4 class="modal-title">Update Code List for CT</h4>
				</div>
				<div class="modal-body">
					{{tempCT.tempModel.name}}<br/>
					Name: <input type="text" ng-model="tempCustCodeList.tempModel.name" autofocus="autofocus" ng-required="true"/><br/>
					Description: <input type="text" ng-model="tempCustCodeList.tempModel.description"/><br/>
					Submission Value: <input type="text" ng-model="tempCustCodeList.tempModel.cdiscsubmissionValue"/>
					<div ng-include data-src="'error-bar'" class="clearfix"></div>
				</div>
				<div class="modal-footer">
					<div ng-show="!modalRequesting">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Confirm</button>
					</div>
					<div ng-show="modalRequesting">
						<span class="label label-warning">Requesting ...</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal animated fadeIn" id="newCT">
	<div class="modal-dialog">
		<div class="modal-content">
			<form ng-submit="createCT()">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">close</span>
					</button>
					<h4 class="modal-title">Create a new CT</h4>
				</div>
				<div class="modal-body">
					Name: <input type="text" ng-model="tempCT.tempModel.name" autofocus="autofocus" ng-required="true"/><br/>
					Description: <input type="text" ng-model="tempCT.tempModel.desc"/>
					<div ng-include data-src="'error-bar'" class="clearfix"></div>
				</div>
				<div class="modal-footer">
					<div ng-show="!modalRequesting">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Confirm</button>
					</div>
					<div ng-show="modalRequesting">
						<span class="label label-warning">Requesting ...</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal animated fadeIn" id="editCT">
	<div class="modal-dialog">
		<div class="modal-content">
			<form ng-submit="updateCT()">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">close</span>
					</button>
					<h4 class="modal-title">Update CT</h4>
				</div>
				<div class="modal-body">
					Name: <input type="text" ng-model="tempCT.tempModel.name" autofocus="autofocus" ng-required="true"/><br/>
					Description: <input type="text" ng-model="tempCT.tempModel.desc"/>
					<div ng-include data-src="'error-bar'" class="clearfix"></div>
				</div>
				<div class="modal-footer">
					<div ng-show="!modalRequesting">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Confirm</button>
					</div>
					<div ng-show="modalRequesting">
						<span class="label label-warning">Requesting ...</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal animated fadeIn" id="addCodeList">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">close</span>
					</button>
					<h4 class="modal-title">Add Code List</h4>
				</div>
				<div class="modal-body">
					{{tempCT.tempModel.name}}<br/>
					Code List Name: <input type="text" ng-model="codeListQuery" autofocus="autofocus" ng-required="true"/>
					<a href="" ng-click="queryCodeListsForCT(codeListQuery)"> <i class="glyphicon"></i>Query</a>
					<table class="table mb0 table-files">
						<thead>
							<tr>
								<th>Code List Name</th>
								<th>Submission Value</th>
								<th>Code Id</th>
								<th>Extensible</th>
								<th></th>
							</tr>
							<tr
								ng-repeat="item in modalItemList | orderBy:extCodeId"
								ng-show="!modalRequesting">
								<td class="hidden-xs">{{item.model.name}}</td>
								<td class="hidden-xs">{{item.model.cdiscsubmissionValue}}</td>
								<td class="hidden-xs">{{item.model.extCodeId}}</td>
								<td class="hidden-xs">{{item.model.codeListExtensible}}</td>
								<td class="hidden-xs" ng-show="!item.model.added"><a href="" ng-click="addCodeListForCT(item.model)">Add</a></td>
							</tr>
						</thead>
					</table>
					
					<div ng-include data-src="'error-bar'" class="clearfix"></div>
				</div>
				<div class="modal-footer">
					<div ng-show="!modalRequesting">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					</div>
					<div ng-show="modalRequesting">
						<span class="label label-warning">Requesting ...</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal animated fadeIn" id="addMetadataVersion">
	<div class="modal-dialog">
		<div class="modal-content">
			<form ng-submit="addMDVtoCT(selectedModalMdv)">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">close</span>
					</button>
					<h4 class="modal-title">Add Code List</h4>
				</div>
				<div class="modal-body">
					{{tempCT.tempModel.name}}<br/>
					Dictionary Name: <select ng-options="mdv.name for mdv in modalMdvList" ng-model="selectedModalMdv" ng-required="true"></select>
					<div ng-include data-src="'error-bar'" class="clearfix"></div>
				</div>
				<div class="modal-footer">
					<div ng-show="!modalRequesting">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Confirm</button>
 					</div>
 					<div ng-show="modalRequesting">
						<span class="label label-warning">Requesting ...</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal animated fadeIn" id="enumeratedItemList">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form ng-submit="addMDVtoCT(selectedModalMdv)">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">{{temp.tempModel.name}}</h4>
				</div>
				<div class="modal-body">
					<table class="table mb0 table-files">
						<thead>
							<tr>
								<th ng-show="temp.tempModel.customized"></th>
								<th>Code</th>
								<th>CDISC Submission Value</th>
								<th>CDISC Synonyms</th>
								<th>CDISC Definition</th>
								<th>NCI Preferred Term</th>
							</tr>
							<tr
								ng-repeat="item in temp.tempModel.enumeratedItemList | orderBy:extCodeId"
								ng-show="!modalRequesting">
								<td class="hidden-xs" ng-show="item.new"><a href="" ng-click="remove(temp.tempModel.enumeratedItemList, item)"><b>-</b></a></td>
								<td class="hidden-xs" ng-show="!item.new">{{item.extCodeId}}</td>
								<td class="hidden-xs" ng-show="item.new"><input type="text" ng-model="item.extCodeId" autofocus="autofocus" ng-required="true"/></td>
								<td class="hidden-xs" ng-show="!item.new">{{item.codedValue}}</td>
								<td class="hidden-xs" ng-show="item.new"><input type="text" ng-model="item.codedValue" ng-required="true"/></td>
								<td class="hidden-xs" ng-show="!item.new">{{item.cdiscsynonym}}</td>
								<td class="hidden-xs" ng-show="!item.new">{{item.cdiscdefinition}}</td>
								<td class="hidden-xs" ng-show="!item.new">{{item.preferredTerm}}</td>
							</tr>
						</thead>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default"
						ng-disabled="temp.inprocess" ng-show="temp.tempModel.customized" ng-click="addNewEnumeratedItem(temp.tempModel.enumeratedItemList)">Add</button>
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ng-disabled="temp.inprocess">Close</button>
					<button type="submit" class="btn btn-primary" ng-show="temp.tempModel.customized">Confirm</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/ng-template" id="error-bar">
    <div class="label label-danger error-msg pull-left animated fadeIn" ng-show="temp.error">
      <i class="glyphicon glyphicon-remove-circle"></i>
      <span>{{temp.error}}</span>
    </div>
</script>