<div class="modal animated fadeIn" id="uploadfile">
	<div class="modal-dialog">
		<div class="modal-content">
			<form ng-submit="uploadFiles()">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">close</span>
					</button>
					<h4 class="modal-title">Upload File</h4>
				</div>
				<div class="modal-body">
					<input type="file" class="form-control"
						ng-file="$parent.uploadFileList" autofocus="autofocus"/>
					<div ng-include data-src="'error-bar'" class="clearfix"></div>
				</div>
				<div class="modal-footer">
					<div ng-show="!fileUploader.requesting">
						<button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
						<button type="submit" class="btn btn-primary"
							ng-disabled="!uploadFileList.length || fileUploader.requesting">upload</button>
					</div>
					<div ng-show="fileUploader.requesting">
						<span class="label label-warning">uploading ...</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal animated fadeIn" id="newCustCodeList">
	<div class="modal-dialog">
		<div class="modal-content">
			<form ng-submit="createCustCodeList()">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">close</span>
					</button>
					<h4 class="modal-title">Create a new Code List for CT</h4>
				</div>
				<div class="modal-body">
					{{tempCT.tempModel.name}}<br/>
					Name: <input type="text" ng-model="tempCustCodeList.tempModel.name" autofocus="autofocus" ng-required="true"/><br/>
					Description: <input type="text" ng-model="tempCustCodeList.tempModel.description"/><br/>
					Submission Value: <input type="text" ng-model="tempCustCodeList.tempModel.cdiscsubmissionValue"/>
					<div ng-include data-src="'error-bar'" class="clearfix"></div>
				</div>
				<div class="modal-footer">
					<div ng-show="!modalRequesting">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Confirm</button>
					</div>
					<div ng-show="modalRequesting">
						<span class="label label-warning">Requesting ...</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal animated fadeIn" id="editCustCodeList">
	<div class="modal-dialog">
		<div class="modal-content">
			<form ng-submit="updateCustCodeList()">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">close</span>
					</button>
					<h4 class="modal-title">Update Code List for CT</h4>
				</div>
				<div class="modal-body">
					{{tempCT.tempModel.name}}<br/>
					Name: <input type="text" ng-model="tempCustCodeList.tempModel.name" autofocus="autofocus" ng-required="true"/><br/>
					Description: <input type="text" ng-model="tempCustCodeList.tempModel.description"/><br/>
					Submission Value: <input type="text" ng-model="tempCustCodeList.tempModel.cdiscsubmissionValue"/>
					<div ng-include data-src="'error-bar'" class="clearfix"></div>
				</div>
				<div class="modal-footer">
					<div ng-show="!modalRequesting">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Confirm</button>
					</div>
					<div ng-show="modalRequesting">
						<span class="label label-warning">Requesting ...</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal animated fadeIn" id="newCT">
	<div class="modal-dialog">
		<div class="modal-content">
			<form ng-submit="createCT()">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">close</span>
					</button>
					<h4 class="modal-title">Create a new CT</h4>
				</div>
				<div class="modal-body">
					Name: <input type="text" ng-model="tempCT.tempModel.name" autofocus="autofocus" ng-required="true"/><br/>
					Description: <input type="text" ng-model="tempCT.tempModel.desc"/>
					<div ng-include data-src="'error-bar'" class="clearfix"></div>
				</div>
				<div class="modal-footer">
					<div ng-show="!modalRequesting">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Confirm</button>
					</div>
					<div ng-show="modalRequesting">
						<span class="label label-warning">Requesting ...</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal animated fadeIn" id="editCT">
	<div class="modal-dialog">
		<div class="modal-content">
			<form ng-submit="updateCT()">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">close</span>
					</button>
					<h4 class="modal-title">Update CT</h4>
				</div>
				<div class="modal-body">
					Name: <input type="text" ng-model="tempCT.tempModel.name" autofocus="autofocus" ng-required="true"/><br/>
					Description: <input type="text" ng-model="tempCT.tempModel.desc"/>
					<div ng-include data-src="'error-bar'" class="clearfix"></div>
				</div>
				<div class="modal-footer">
					<div ng-show="!modalRequesting">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Confirm</button>
					</div>
					<div ng-show="modalRequesting">
						<span class="label label-warning">Requesting ...</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal animated fadeIn" id="addCodeList">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">close</span>
					</button>
					<h4 class="modal-title">Add Code List</h4>
				</div>
				<div class="modal-body">
					{{tempCT.tempModel.name}}<br/>
					Keyword: <input type="text" ng-model="codeListQuery" autofocus="autofocus" ng-required="true"/>
					<a href="" ng-click="queryCodeListsForCT(codeListQuery)"> <i class="glyphicon"></i>Query</a>
					<table class="table mb0 table-files">
						<thead>
							<tr>
								<th>Code List Name</th>
								<th>Submission Value</th>
								<th>Code Id</th>
								<th>Extensible</th>
								<th></th>
							</tr>
							<tr
								ng-repeat="item in modalItemList | orderBy:extCodeId"
								ng-show="!modalRequesting">
								<td class="hidden-xs">{{item.model.name}}</td>
								<td class="hidden-xs">{{item.model.cdiscsubmissionValue}}</td>
								<td class="hidden-xs">{{item.model.extCodeId}}</td>
								<td class="hidden-xs">{{item.model.codeListExtensible}}</td>
								<td class="hidden-xs" ng-show="!item.model.added"><a href="" ng-click="addCodeListForCT(item.model)">Add</a></td>
							</tr>
						</thead>
					</table>
					
					<div ng-include data-src="'error-bar'" class="clearfix"></div>
				</div>
				<div class="modal-footer">
					<div ng-show="!modalRequesting">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					</div>
					<div ng-show="modalRequesting">
						<span class="label label-warning">Requesting ...</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal animated fadeIn" id="addMetadataVersion">
	<div class="modal-dialog">
		<div class="modal-content">
			<form ng-submit="addMDVtoCT(selectedModalMdv)">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">close</span>
					</button>
					<h4 class="modal-title">Add Code List</h4>
				</div>
				<div class="modal-body">
					{{tempCT.tempModel.name}}<br/>
					Dictionary Name: <select ng-options="mdv.name for mdv in modalMdvList" ng-model="selectedModalMdv" ng-required="true"></select>
					<div ng-include data-src="'error-bar'" class="clearfix"></div>
				</div>
				<div class="modal-footer">
					<div ng-show="!modalRequesting">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Confirm</button>
 					</div>
 					<div ng-show="modalRequesting">
						<span class="label label-warning">Requesting ...</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal animated fadeIn" id="editEnumeratedItemList">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">{{temp.tempModel.name}}</h4>
				</div>
				<div class="modal-body">
					<table class="table mb0 table-files">
						<thead>
							<tr>
								<th></th>
								<th>Code</th>
								<th>CDISC Submission Value</th>
								<th>CDISC Synonyms</th>
								<th>CDISC Definition</th>
								<th>NCI Preferred Term</th>
							</tr>
							<tr
								ng-repeat="item in temp.tempModel.enumeratedItemList | orderBy:extCodeId"
								ng-show="!modalRequesting && !item.deleted">
								<td class="hidden-xs" ng-show="item.customized"><a href="" ng-click="remove(temp.tempModel.enumeratedItemList, item)"><b>-</b></a></td>
								<td class="hidden-xs" ng-show="!item.customized"></td>
								<td class="hidden-xs" ng-show="!item.customized">{{item.extCodeId}}</td>
								<td class="hidden-xs" ng-show="item.customized"><input type="text" ng-model="item.extCodeId" autofocus="autofocus" ng-required="true"/></td>
								<td class="hidden-xs" ng-show="!item.customized">{{item.codedValue}}</td>
								<td class="hidden-xs" ng-show="item.customized"><input type="text" ng-model="item.codedValue" ng-required="true"/></td>
								<td class="hidden-xs">{{item.cdiscsynonym}}</td>
								<td class="hidden-xs">{{item.cdiscdefinition}}</td>
								<td class="hidden-xs">{{item.preferredTerm}}</td>
							</tr>
						</thead>
					</table>
					<div ng-include data-src="'error-bar'" class="clearfix"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default"
						ng-disabled="temp.inprocess" ng-show="temp.tempModel.codeListExtensible==='Yes'" ng-click="addNewEnumeratedItem(temp.tempModel.enumeratedItemList, temp.tempModel.customized)">Add</button>
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ng-disabled="temp.inprocess">Close</button>
					<button ng-disabled="temp.inprocess"  ng-show="temp.tempModel.codeListExtensible==='Yes'" type="button" class="btn btn-default" ng-click="saveEumeratedItems(temp)">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal animated fadeIn" id="enumeratedItemList">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">{{temp.tempModel.name}}</h4>
				</div>
				<div class="modal-body">
					<table class="table mb0 table-files">
						<thead>
							<tr>
								<th>Code</th>
								<th>CDISC Submission Value</th>
								<th>CDISC Synonyms</th>
								<th>CDISC Definition</th>
								<th>NCI Preferred Term</th>
							</tr>
							<tr
								ng-repeat="item in temp.tempModel.enumeratedItemList | orderBy:extCodeId"
								ng-show="!modalRequesting">
								<td class="hidden-xs">{{item.extCodeId}}</td>
								<td class="hidden-xs">{{item.codedValue}}</td>
								<td class="hidden-xs">{{item.cdiscsynonym}}</td>
								<td class="hidden-xs">{{item.cdiscdefinition}}</td>
								<td class="hidden-xs">{{item.preferredTerm}}</td>
							</tr>
						</thead>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ng-disabled="temp.inprocess">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal animated fadeIn" id="newProject">
	<div class="modal-dialog">
		<div class="modal-content">
			<form ng-submit="createProject(selectedModalVersion, selectedModalCt)">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">close</span>
					</button>
					<h4 class="modal-title">New Project</h4>
				</div>
				<div class="modal-body">
					Name: <input type="text" ng-model="tempProject.tempModel.name" autofocus="autofocus" ng-required="true"/><br/>
					Description: <textarea ng-model="tempProject.tempModel.description"></textarea><br/>
					SDTM Version: <select ng-options="version.description for version in modalVersions" ng-model="selectedModalVersion" ng-required="true" ng-change="getAvailableCTs(selectedModalVersion.id)"></select><br/>
					Control Terminology: <select ng-options="ct.name for ct in modalCts" ng-model="selectedModalCt" ng-required="true"></select>
					<table class="table mb0 table-files">
						<thead>
							<tr>
								<th></th>
								<th>Name</th>
								<th>Path</th>
							</tr>
							<tr
								ng-repeat="item in tempProject.tempModel.libraryList"
								ng-show="!modalRequesting">
								<td class="hidden-xs"><a href="" ng-click="remove(tempProject.tempModel.libraryList, item)"><b>-</b></a></td>
								<td class="hidden-xs"><input type="text" ng-model="item.name" autofocus="autofocus" ng-required="true"/></td>
								<td class="hidden-xs"><input type="text" ng-model="item.path" ng-required="true"/></td>
							</tr>
						</thead>
					</table>
					<div ng-include data-src="'error-bar'" class="clearfix"></div>
				</div>
				<div class="modal-footer">
					<div ng-show="!modalRequesting">
						<button type="button" class="btn btn-default" ng-click="addNewLibraray(tempProject.tempModel.libraryList)">Add Library</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Confirm</button>
					</div>
					<div ng-show="modalRequesting">
						<span class="label label-warning">Requesting ...</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal animated fadeIn" id="editProject">
	<div class="modal-dialog">
		<div class="modal-content">
			<form ng-submit="updateProject()">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">close</span>
					</button>
					<h4 class="modal-title">Edit Project</h4>
				</div>
				<div class="modal-body">
					Name: <input type="text" ng-model="tempProject.tempModel.name" autofocus="autofocus" ng-required="true"/><br/>
					Description: <textarea ng-model="tempProject.tempModel.description"></textarea><br/>
					<table class="table mb0 table-files">
						<thead>
							<tr>
								<th></th>
								<th>Name</th>
								<th>Path</th>
							</tr>
							<tr
								ng-repeat="item in tempProject.tempModel.libraryList"
								ng-show="!modalRequesting">
								<td class="hidden-xs"><a href="" ng-click="removeLibraray(tempProject.tempModel.libraryList, item)"><b>-</b></a></td>
								<td class="hidden-xs"><input type="text" ng-model="item.name" autofocus="autofocus" ng-required="true"/></td>
								<td class="hidden-xs"><input type="text" ng-model="item.path" ng-required="true"/></td>
							</tr>
						</thead>
					</table>

					<div ng-include data-src="'error-bar'" class="clearfix"></div>
				</div>
				<div class="modal-footer">
					<div ng-show="!modalRequesting">
						<button type="button" class="btn btn-default" ng-click="addNewLibraray(tempProject.tempModel.libraryList)">Add Library</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Confirm</button>
					</div>
					<div ng-show="modalRequesting">
						<span class="label label-warning">Requesting ...</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal animated fadeIn" id="editProjectEnumeratedItemList">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">{{temp.model.codeList.name}}</h4>
				</div>
				<div class="modal-body">
					Keyword: <input type="text" ng-model="temp.model.enumeratedItemQuery" autofocus="autofocus" ng-required="true"/>
					<a href="" ng-click="queryEnumeratedItemsForCodeList(temp)"> <i class="glyphicon"></i>Query</a>
					<table class="table mb0 table-files">
						<thead>
							<tr>
								<th></th>
								<th>Code</th>
								<th>CDISC Submission Value</th>
								<th>CDISC Synonyms</th>
								<th>CDISC Definition</th>
								<th>NCI Preferred Term</th>
							</tr>
							<tr
								ng-repeat="item in temp.tempModel.enumeratedItemList"
								ng-show="!modalRequesting" ng-class="{bold: item.included, normal: !item.included}">
								<td class="hidden-xs" ng-show="item.included"><a href="" ng-click="editEnumeratedItem(temp, item, true)"><b>Remove</b></a></td>
								<td class="hidden-xs" ng-show="!item.included"><a href="" ng-click="editEnumeratedItem(temp, item, false)"><b>Add</b></a></td>
								<td class="hidden-xs">{{item.extCodeId}}</td>
								<td class="hidden-xs">{{item.codedValue}}</td>
								<td class="hidden-xs">{{item.cdiscsynonym}}</td>
								<td class="hidden-xs">{{item.cdiscdefinition}}</td>
								<td class="hidden-xs">{{item.preferredTerm}}</td>
							</tr>
						</thead>
					</table>
					<div ng-include data-src="'error-bar'" class="clearfix"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ng-disabled="temp.inprocess">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal animated fadeIn" id="addCodeListToProject">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">close</span>
					</button>
					<h4 class="modal-title">Add Code List To {{tempProject.tempModel.name}}</h4>
				</div>
				<div class="modal-body">
					Domain: {{temp.model.sdtmDomain.name}}<br/>
					Variable: {{temp.model.sdtmVariable.name}}<br/>
					Keyword: <input type="text" ng-model="temp.model.codeListQuery" autofocus="autofocus" ng-required="true"/>
					<a href="" ng-click="queryCodeListsForProject(temp)"> <i class="glyphicon"></i>Query</a>
					<table class="table mb0 table-files">
						<thead>
							<tr>
								<th>Code List Name</th>
								<th>Submission Value</th>
								<th>Code Id</th>
								<th></th>
							</tr>
							<tr
								ng-repeat="item in temp.model.codeLists" ng-show="!modalRequesting">
								<td class="hidden-xs">{{item.name}}</td>
								<td class="hidden-xs">{{item.cdiscsubmissionValue}}</td>
								<td class="hidden-xs">{{item.extCodeId}}</td>
								<td class="hidden-xs" ng-show="!item.added"><a href="" ng-click="addCodeListForProject(temp, item, false)">Add</a></td>
								<td class="hidden-xs" ng-show="item.added"><a href="" ng-click="addCodeListForProject(temp, item, true)">Remove</a></td>
							</tr>
						</thead>
					</table>
					
					<div ng-include data-src="'error-bar'" class="clearfix"></div>
				</div>
				<div class="modal-footer">
					<div ng-show="!modalRequesting">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
					<div ng-show="modalRequesting">
						<span class="label label-warning">Requesting ...</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal animated fadeIn" id="showVariableInfo">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">{{temp.tempModel.name}}</h4>
				</div>
				<div class="modal-body">
					<table class="table mb0 table-files">
						<thead>
							<tr>
								<th>Name</th>
								<th>Value</th>
							</tr>
							<tr>
								<td>Label</td>
								<td>{{temp.tempModel.sdtmDomain.description}}</td>
							</tr>
							<tr>
								<td>Class</td>
								<td>{{temp.tempModel.sdtmDomain.defClass}}</td>
							</tr>
							<tr>
								<td>Structure</td>
								<td>{{temp.tempModel.sdtmDomain.structure}}</td>
							</tr>
							<tr>
								<td>Purpose</td>
								<td>{{temp.tempModel.sdtmDomain.purpose}}</td>
							</tr>
						</thead>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ng-disabled="temp.inprocess">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal animated fadeIn" id="editProjectDomainKeyVariable">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					</button>
					<h4 class="modal-title">{{temp.tempModel.sdtmDomain.name}}</h4>
				</div>
				<div class="modal-body">
					<table class="table mb0 table-files">
						<thead>
							<tr>
								<th>CDISC Variable Name	</th>
								<th></th>
							</tr>
							
						</thead>
						<tbody data-ng-model="temp.tempModel.keyVariableList" ui-sortable="keyVariableSortableOptions">
							<tr
								id="{{item.model.id}}" ng-repeat="item in temp.tempModel.keyVariableList"
								ng-show="!modalRequesting">
								<td class="hidden-xs">{{item.model.name}}</td>
								<td class="hidden-xs" ng-show="!item.model.key"><a href="" ng-click="editKeyVariableForProject(temp, item, false)">Add</a></td>
								<td class="hidden-xs" ng-show="item.model.key"><a href="" ng-click="editKeyVariableForProject(temp, item, true)">Remove</a></td>
							</tr>
						</tbody>
					</table>
					<div ng-include data-src="'error-bar'" class="clearfix"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="temp.inprocess" ng-click="getProjectDomains(tempProject.tempModel)">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal animated fadeIn" id="newProjectDomainDataSet">
	<div class="modal-dialog">
		<div class="modal-content">
			<form ng-submit="createProjectDomainDataSet(tempDomainDataSet)">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">close</span>
					</button>
					<h4 class="modal-title">New Data Set for {{temp.model.sdtmDomain.domain}}</h4>
				</div>
				<div class="modal-body">
					<div>
						Name: <input type="text" ng-model="tempDomainDataSet.name" autofocus="autofocus" ng-required="true" ng-change="generateSQL(tempDomainDataSet)"/><br/>
						<wizard> 
						    <wz-step wz-title="Select Variable">
								Join Type: <select ng-options="type.value for type in dataSetJoinTypeList" ng-model="tempDomainDataSet.selectedJoinType"></select><br/>
							 	Library: <select ng-options="library.model.name for library in tempProject.tempModel.libraryList" ng-model="tempDomainDataSet.selectedLibrary"></select>
								<div ng-show="tempDomainDataSet.selectedJoinType.value=='sort'">
									<div ng-show="tempDomainDataSet.selectedLibrary">
										DataSet: <select ng-options="dataSet.name for dataSet in tempDomainDataSet.selectedLibrary.model.dataSetList" ng-model="tempDomainDataSet.selectedLibrary.selectedDataSet" ng-change="generateSQL(tempDomainDataSet)"></select>
									</div>
									<div ng-show="tempDomainDataSet.selectedLibrary.selectedDataSet">
								 		Columns:  <select multiple style="width: 40%" ng-options="column.name for column in tempDomainDataSet.selectedLibrary.selectedDataSet.columnList" ng-model="tempDomainDataSet.selectedLibrary.selectedDataSet.selectedColumnList" size="6" ng-change="generateSQL(tempDomainDataSet)"></select>
									</div>
									<div ng-show="tempDomainDataSet.selectedLibrary.selectedDataSet.selectedColumnList && tempDomainDataSet.selectedJoinType.value=='sort'">
										Sort By:  <select multiple style="width: 40%" ng-options="column.name for column in tempDomainDataSet.selectedLibrary.selectedDataSet.selectedColumnList" ng-model="tempDomainDataSet.selectedLibrary.selectedDataSet.selectedSortColumnList" ng-change="generateSQL(tempDomainDataSet)"></select>
									</div>
									<div ng-show="tempDomainDataSet.selectedLibrary.selectedDataSet">
							        	<input type="submit" wz-next value="Next" />
							        </div>
						        </div>
								<div ng-show="tempDomainDataSet.selectedJoinType.value=='merge'">
									<div ng-show="tempDomainDataSet.selectedLibrary">
										DataSet: <select ng-options="dataSet.name for dataSet in tempDomainDataSet.selectedLibrary.model.dataSetList" ng-model="tempDomainDataSet.selectedLibrary.selectedDataSet" ng-change="generateSQL(tempDomainDataSet)"></select>
									</div>
									<div ng-show="tempDomainDataSet.selectedLibrary.selectedDataSet">
								 		Join Columns:  <select multiple style="width: 40%" ng-options="column.name for column in tempDomainDataSet.selectedLibrary.selectedDataSet.columnList" ng-model="tempDomainDataSet.selectedLibrary.selectedDataSet.selectedColumnList" size="6" ng-change="generateSQL(tempDomainDataSet)"></select>
									</div>
									<div ng-show="tempDomainDataSet.selectedLibrary.selectedDataSet.selectedColumnList">
									 	Join Library: <select ng-options="library.model.name for library in tempProject.tempModel.libraryList" ng-model="tempDomainDataSet.selectedJoinLibrary"></select>
									</div>
									<div ng-show="tempDomainDataSet.selectedJoinLibrary">
										Join DataSet: <select multiple ng-options="dataSet.name for dataSet in tempDomainDataSet.selectedJoinLibrary.model.dataSetList" ng-model="tempDomainDataSet.selectedJoinLibrary.selectedDataSetList" ng-change="generateSQL(tempDomainDataSet)"></select>
									</div>
									<div ng-show="tempDomainDataSet.selectedJoinLibrary.selectedDataSetList">
										Join Type: <select ng-options="type for type in joinTypeList" ng-model="tempDomainDataSet.selectedLibrary.selectedDataSet.joinType" ng-change="generateSQL(tempDomainDataSet)"></select><br/>
									</div>
									<div ng-show="tempDomainDataSet.selectedJoinLibrary.selectedDataSetList">
							        	<input type="submit" wz-next value="Next" />
							        </div>
						        </div>
								<div ng-show="tempDomainDataSet.selectedJoinType.value=='set'">
									<div ng-show="tempDomainDataSet.selectedLibrary">
										DataSet: <select ng-options="dataSet.name for dataSet in tempDomainDataSet.selectedLibrary.model.dataSetList" ng-model="tempDomainDataSet.selectedLibrary.selectedDataSet" ng-change="generateSQL(tempDomainDataSet)"></select>
									</div>
									<div ng-show="tempDomainDataSet.selectedLibrary.selectedDataSet">
								 		Join Columns:  <select multiple style="width: 40%" ng-options="column.name for column in tempDomainDataSet.selectedLibrary.selectedDataSet.columnList" ng-model="tempDomainDataSet.selectedLibrary.selectedDataSet.selectedColumnList" size="6" ng-change="generateSQL(tempDomainDataSet)"></select>
									</div>
									<div ng-show="tempDomainDataSet.selectedLibrary.selectedDataSet">
									 	Join Library: <select ng-options="library.model.name for library in tempProject.tempModel.libraryList" ng-model="tempDomainDataSet.selectedJoinLibrary"></select>
									</div>
									<div ng-show="tempDomainDataSet.selectedJoinLibrary">
										Join DataSet: <select multiple ng-options="dataSet.name for dataSet in tempDomainDataSet.selectedJoinLibrary.model.dataSetList" ng-model="tempDomainDataSet.selectedJoinLibrary.selectedDataSetList" ng-change="generateSQL(tempDomainDataSet)"></select>
									</div>
									<div ng-show="tempDomainDataSet.selectedJoinLibrary.selectedDataSetList">
							        	<input type="submit" wz-next value="Next" />
							        </div>
						        </div>
						    </wz-step>
						    <wz-step wz-title="Rename Variable" wz-disabled="{{tempDomainDataSet.selectedJoinType.value!='sort'}}">
								<table class="table mb0 table-files">
									<thead>
										<tr>
											<th>Name</th>
											<th>Alias</th>
										</tr>
										<tr
											ng-repeat="item in tempDomainDataSet.selectedLibrary.selectedDataSet.selectedColumnList">
											<td class="hidden-xs">{{item.name}}</td>
											<td class="hidden-xs"><input type="text" ng-model="item.alias"/></td>
										</tr>
									</thead>
								</table>
						        <input type="submit" wz-previous="generateSQL(tempDomainDataSet)" value="Previous" />
						        <input type="submit" wz-next="generateSQL(tempDomainDataSet)" value="Next" />
						    </wz-step>
						    <wz-step wz-title="Sort Direction" wz-disabled="{{tempDomainDataSet.selectedJoinType.value!='sort'}}">
								<table class="table mb0 table-files">
									<thead>
										<tr>
											<th>Name</th>
											<th>Direction</th>
										</tr>
										<tr
											ng-repeat="item in tempDomainDataSet.selectedLibrary.selectedDataSet.selectedSortColumnList">
											<td class="hidden-xs">{{item.name}}</td>
											<td class="hidden-xs"><select ng-options="type for type in sortDirectionList" ng-model="item.sortDirection"></select></td>
										</tr>
									</thead>
								</table>
						        <input type="submit" wz-previous="generateSQL(tempDomainDataSet)" value="Previous" />
						        <input type="submit" wz-next="generateSQL(tempDomainDataSet)" value="Next" />
						    </wz-step>
						    <wz-step wz-title="Condition" wz-disabled="{{tempDomainDataSet.selectedJoinType.value!='sort'}}">
								<input type="text" ng-model="tempDomainDataSet.selectedLibrary.selectedDataSet.condition" autofocus="autofocus" ng-change="generateSQL(tempDomainDataSet)"/><br/>
						        <input type="submit" wz-previous="generateSQL(tempDomainDataSet)" value="Previous" />
						        <input type="submit" wz-next="generateSQL(tempDomainDataSet)" value="Next" />
						    </wz-step>
						    <wz-step wz-title="Preview">
								<div ng-show="tempDomainDataSet.sql">
								Procedure:
									<textarea style="width: 100%" rows="5" ng-model="tempDomainDataSet.sql" readonly="readonly"></textarea>
								</div>
						        <input type="submit" wz-previous="generateSQL(tempDomainDataSet)" value="Previous" />
						    </wz-step>
						</wizard>
					</div>
					<div ng-include data-src="'error-bar'" class="clearfix"></div>
				</div>
				<div class="modal-footer">
					<div ng-show="!modalRequesting">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Confirm</button>
					</div>
					<div ng-show="modalRequesting">
						<span class="label label-warning">Requesting ...</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- 
<div class="modal animated fadeIn" id="editProjectDomainVariables">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">close</span>
					</button>
					<h4 class="modal-title">Add/Remove Variable</h4>
				</div>
				<div class="modal-body">
					Project: {{tempProject.tempModel.name}}<br/>
					Domain: {{tempDomain.tempModel.name}}<br/>
					<table class="table mb0 table-files">
						<thead>
							<tr>
								<th>Name</th>
								<th>Label</th>
								<th></th>
							</tr>
							<tr
								ng-repeat="item in modalVariableList"
								ng-show="!modalRequesting">
								<td class="hidden-xs">{{item.model.sdtmVariable.name}}</td>
								<td class="hidden-xs">{{item.model.sdtmVariable.label}}</td>
								<td class="hidden-xs" ng-show="item.model.excluded"><a href="" ng-click="removeVariableForProject(tempProject.tempModel,tempDomain.tempModel,item.model.sdtmVariable)">Add</a></td>
								<td class="hidden-xs" ng-show="!item.model.excluded"><a href="" ng-click="addVariableForProject(tempProject.tempModel,tempDomain.tempModel,item.model.sdtmVariable)">Remove</a></td>
							</tr>
						</thead>
					</table>
					
					<div ng-include data-src="'error-bar'" class="clearfix"></div>
				</div>
				<div class="modal-footer">
					<div ng-show="!modalRequesting">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
					<div ng-show="modalRequesting">
						<span class="label label-warning">Requesting ...</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
 -->
<script type="text/ng-template" id="error-bar">
    <div class="label label-danger error-msg pull-left animated fadeIn" ng-show="temp.error">
      <i class="glyphicon glyphicon-remove-circle"></i>
      <span>{{temp.error}}</span>
    </div>
</script>