<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <div class="navbar-form navbar-right">
        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#editCT" ng-show="tempCT.tempModel.id" ng-click="cleanCodeListQuery()">
            <i class="glyphicon glyphicon-plus"></i> Update current CT
        </button>
        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#addCodeList" ng-show="tempCT.tempModel.id" ng-click="cleanCodeListQuery()">
            <i class="glyphicon glyphicon-plus"></i> Select Code List
        </button>
        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#addMetadataVersion" ng-show="tempCT.tempModel.id" ng-click="getAllMDVs(true)">
            <i class="glyphicon glyphicon-plus"></i> Select Dictionary
        </button>
        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#newCustCodeList" ng-show="tempCT.tempModel.id" ng-click="newCustCodeList()">
            <i class="glyphicon glyphicon-plus"></i> Add Code List
        </button>
        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#newCT" ng-click="newCT()">
            <i class="glyphicon glyphicon-plus"></i> Create new CT
        </button>
        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#newProject" ng-click="newProject()">
            <i class="glyphicon glyphicon-plus"></i> New Project
        </button>
        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#editProject"  ng-click="getProject(tempProject.tempModel.id)" ng-show="tempProject.tempModel.id">
            <i class="glyphicon glyphicon-plus"></i> Edit Project
        </button>
      </div>
    </div>
  </div>
</nav>