<table border="1" class="table mb0 table-files" id="toc-table-container">
	<thead>
		<tr>
			<th>Domain</th>
			<th>Label</th>
			<th>Key Variables</th>
			<th>DataSet Initialization</th>
			<th>Operation</th>
		</tr>
	</thead>
	<tbody class="file-item" data-ng-model="tempProject.tempModel.domainList" ui-sortable="tocSortableOptions">
		<tr ng-show="requesting">
			<td colspan="6">
				<div ng-include="config.tplPath + '/spinner.html'"></div>
			</td>
		</tr>
		<tr id="{{item.model.id}}" ng-repeat="item in tempProject.tempModel.domainList"
			ng-show="!requesting" ng-class="{strike: item.model.status!='active', normal: item.model.status=='active'}">
			<td ng-right-click="touch(item, 'domain')">
				<a href="" ng-click="click(item, 'domain')">
					{{item.model.sdtmDomain.domain}}
				</a>
			</td>
			<td>{{item.model.sdtmDomain.description}}</td>
			<td>
				<div ng-repeat="item in item.model.sdtmDomain.keyVariables">{{item.sdtmVariable.name}}</div>
				<button class="btn btn-default " ng-click="getKeyVariableList(item)">
			            <i class="glyphicon glyphicon-plus"></i> Select
			    </button>
			</td>
			<td>
				<div ng-repeat="item in item.model.sdtmDomain.dataSets">{{item.name}}</div>
 				<button class="btn btn-default " ng-click="getProjectLibraryList(item)">
			            <i class="glyphicon glyphicon-plus"></i> Add
			    </button>
 			</td>
			<td ng-show="item.model.status!='active'"><a href="" ng-click="addDomainForProject(item.model,tempProject.tempModel)">Activate</a></td>
			<td ng-show="item.model.status=='active'"><a href="" ng-click="removeDomainForProject(item.model,tempProject.tempModel)">Deactive</a></td>
		</tr>
	</tbody>
</table>