<a href="" ng-click="closeTab($index)">Close</a>
<a href="" ng-click="saveTabData($index)">Save Changes</a>
<div ng-include data-src="'project-domain-error-bar'" class="clearfix"></div>
<table border="1" class="table mb0 table-files" id="toc-table-container">
	<thead>
		<tr>
			<th>CDISC Variable Name</th>
			<th>Controlled Terminology</th>
			<th>Origin</th>
			<th>CRF Page No</th>
			<th>Role</th>
			<th>Core</th>
			<th>Type</th>
			<th>Length</th>
		</tr>
	</thead>
	<tbody class="file-item" data-ng-model="tempProject.tempModel.domains[$index].tempModel.sdtmDomain.variableList" ui-sortable="domainSortableOptions">
		<tr ng-show="requesting">
			<td colspan="8">
				<div ng-include="config.tplPath + '/spinner.html'"></div>
			</td>
		</tr>
		<tr id="{{item.model.id}}" index="{{$index}}" ng-repeat="item in tempProject.tempModel.domains[$index].tempModel.sdtmDomain.variableList"
			ng-show="!requesting" ng-class="{strike: item.model.status!='active', normal: item.model.status=='active'}">
			<td>{{item.model.sdtmVariable.name}}</td>
			<td>
				<div>
					<a href="" ng-click="getEnumeratedItems(item)">{{item.model.codeList.cdiscsubmissionValue}}</a>
			        <button class="btn btn-default " ng-click="getCodeList(item)">
			            <i class="glyphicon glyphicon-plus"></i> Select
			        </button>
				</div>
			</td>
			<td>
				<div id="originList_{{item.model.id}}">
					<div ng-repeat="item in item.model.origins">{{item.name}}</div>
					<a href="" ng-click="editOrigin(item.model.id, true)">Select</a>
				</div>
				<div id="originListSelect_{{item.model.id}}" style="display:none">
					<select multiple ng-multiple="true" ng-model="item.model.origins" ng-change="markAsChanged(item.model)" ng-options="item as item.name for item in originList track by item.id">
					</select>
					<a href="" ng-click="editOrigin(item.model.id, false)">Save</a>
				</div>
			</td>
			<td><input type="text" ng-model="item.model.crfPageNo" ng-change="markAsChanged(item.model)" ng-required="true"/></td>
			<td>{{item.model.role}}</td>
			<td>{{item.model.core}}</td>
			<td>{{item.model.sdtmVariable.sasDataType}}</td>
			<td><input type="text" ng-model="item.model.length" ng-change="markAsChanged(item.model)" ng-required="true"/></td>
		</tr>
	</tbody>
</table>
<script type="text/ng-template" id="project-domain-error-bar">
    <div class="label label-danger error-msg pull-left animated fadeIn" ng-show="temp.error">
      <i class="glyphicon glyphicon-remove-circle"></i>
      <span>{{temp.error}}</span>
    </div>
</script>