<ul class="nav nav-sidebar file-tree-root">
	<li><a href="" ng-click="getAllCTs()"> <i class="glyphicon"></i>
			All Available CTs
	</a></li>
	<ul>
	<li ng-show="showCT" ng-repeat="item in ctList" ng-class="'active'"><a href=""
		ng-click="getAllCodeListsForCT(item.model.id)"> <i class="glyphicon"></i>
			{{item.model.name | strLimit : 64}}
	</a></li>
	</ul>
	<li><a href="" ng-click="getAllMDVs()"> <i class="glyphicon"></i>
			All Available Meta data Versions
	</a></li>
	<ul>
	<li ng-show="showMDV" ng-repeat="item in mdvList" ng-class="'active'"><a href=""
		ng-click="getAllCodeLists(item.model.id)"> <i class="glyphicon"></i>
			{{item.model.name | strLimit : 64}}
	</a></li>
	</ul>

</ul>